<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epoxy Works | Home</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/categorybox.css">
    <link rel="stylesheet" href="css/productcard.css">
    <script src="js/nav_scroll.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="<%= process.env.GOOGLE_CLIENT_ID %>">
    <!-- <link rel="stylesheet" href="css/clogin.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <header id="headerbar">
        <div class="title-bar">
          <div class="head-left">
            <a href="index.html" id="home-redirect"><img src="assets/file.png" alt="logo" id="logo"></a>
            <h1 class="company-title lato-bold">Something Little Special</h1>
            <input type="text" name="searchbar" id="searchbar" placeholder="Search...">
          </div>
          <div class="head-right">
            <button class="icon-button" onclick="window.location.href='h'"><img src="assets/wishlist.png" alt=""
                class="large-icon" title="View Wishlist"></button>
            <button class="icon-button" onclick="window.location.href='h'"><img src="assets/shopping-cart.png" alt=""
                class="large-icon" title="View Cart"></button>
      
            <% if (isAuthenticated) { %>
              <!-- Header after login -->
              <div class="acc-dropdown">
                <button class="icon-button"><img src="assets/account.png" alt="" class="large-icon" onclick="window.location.href='/profile'"></button>
              </div>            
            <% } else { %>
              <!-- Header before login -->
              <div class="acc-dropdown">
                    <button class="icon-button"><img src="assets/account.png" alt="" class="large-icon"></button>
                    <div class="acc-dropdown-content">
                        <button onclick="document.getElementById('cloginform').style.display='block'">Customer</button>
                    </div>
                </div>
            <% } %>
          </div>
        </div>
      
        <!-- Login Modal -->
        <% if (!isAuthenticated) { %>
            <div class="modal-container" id="cloginform">
                <div class="center animate">
                    <div class="login-title">
                        <h2>Login</h2>
                    </div>
                    <div class="formpage">
                        <div   class="lato-regular">
                            <div class="btn">
                                <button id="c-login"><img src="assets/google-icon.png" alt=""
                                        id="google-logo">Continue with Google</button>
                                <button type="button" onclick="closePopup()"
                                    class="cancelbtn">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
      </header>
      

    <div class="empty-bar"></div>       <!-- This needs to be removed by adjusting vertical margins of below elements -->

    <div class="mobile-searchbox">
        <input type="text" name="mobile-searchbar" id="mobile-searchbar" placeholder="Search...">
    </div>

    <div class="category-bar">
        <div class="category-row">
            <div class="category-button" id="category-1">
                <a href="">
                    <div class="category-icon">
                        <img src="assets/category-icons/flower-preservatives.png" alt="">
                    </div>
                    <div class="category-name">Flower Presevatives</div>
                    <div class="bottom-line"></div>
                </a>
            </div>
            <div class="category-button" id="category-2">
                <a href="">
                    <div class="category-icon">
                        <img src="assets/category-icons/frames.png" alt="">
                    </div>
                    <div class="category-name">Photo Frames</div>
                    <div class="bottom-line"></div>
                </a>
            </div>
            <div class="category-button" id="category-3">
                <a href="">
                    <div class="category-icon">
                        <img src="assets/category-icons/jewelry.png" alt="">
                    </div>
                    <div class="category-name">Jewelleries</div>
                    <div class="bottom-line"></div>
                </a>
            </div>
            <div class="category-button" id="category-4">
                <a href="">
                    <div class="category-icon">
                        <img src="assets/category-icons/painting.png" alt="">
                    </div>
                    <div class="category-name">Paintings</div>
                    <div class="bottom-line"></div>
                </a>
            </div>
        </div>

        <div class="category-row">
            <div class="category-button" id="category-5">
                <a href="">
                    <div class="category-icon">
                        <img src="assets/category-icons/corporate-gifts.png" alt="">
                    </div>
                    <div class="category-name">Corporate Gifts</div>
                </a>
            </div>
            <div class="category-button" id="category-6">
                <a href="">
                    <div class="category-icon">
                        <img src="assets/category-icons/trays.png" alt="">
                    </div>
                    <div class="category-name">Dining Essentials</div>
                </a>
            </div>
            <div class="category-button" id="category-7">
                <a href="">
                    <div class="category-icon">
                        <img src="assets/category-icons/home-decor.png" alt="">
                    </div>
                    <div class="category-name">Home Decor</div>
                </a>
            </div>
            <div class="category-button" id="category-8">
                <a href="">
                    <div class="category-icon">
                        <img src="assets/category-icons/miscellaneous.png" alt="">
                    </div>
                    <div class="category-name">Miscellaneous</div>
                </a>
            </div>
        </div>
    </div>

    <div class="carousel">
        <div class="mySlides fade">
            <img src="assets/carousel/carousel1.webp" id="carousel1" alt="">
        </div>
        <div class="mySlides fade">
            <img src="assets/carousel/carousel2.webp" id="carousel2" alt="">
        </div>
        <div class="mySlides fade">
            <img src="assets/carousel/carousel3.webp" id="carousel3" alt="">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

<!--    <div class="category-box">
        <h2 id="category-title">Explore Various Categories</h2>
        <div class="category-row">
            <div class="category-card">
                <img src="assets/flower_preservation.jpg" alt="" class="category-image">
                <div class="category-details">
                    <h5 class="category-title">Flower Preservations</h5>
                    <h6 class="category-desc">Preserve your precious memories with our exquisite flower preservation
                        gifts. Capture the beauty of your special moments forever in stunning, handcrafted keepsakes
                        that will keep your flowers vibrant and cherished.
                    </h6>
                </div>
            </div>
            <div class="category-card">
                <img src="assets/frames_and_keychains.jpg" alt="" class="category-image">
                <div class="category-details">
                    <h5 class="category-title">Frames and Keychains</h5>
                    <h6 class="category-desc">Celebrate life's beautiful moments with our charming photo frames and
                        keychains. From inspiring quotes to delightful magnet frames, these personalized treasures are
                        perfect for adding a touch of magic to your everyday life.
                    </h6>
                </div>
            </div>
            <div class="category-card">
                <img src="assets/jewellery.jpg" alt="" class="category-image">
                <div class="category-details">
                    <h5 class="category-title">Jewellery</h5>
                    <h6 class="category-desc">Adorn yourself with our captivating jewellery collection! Discover elegant
                        pendants, chic bracelets, and dazzling earrings that will make you shine and sparkle. Perfect
                        gifts for adding a touch of glamour to any outfit.
                    </h6>
                </div>
            </div>
        </div>

        <div class="category-row">
            <button>
            <div class="category-card">
                <img src="assets/corporate_gifts.jpg" alt="" class="category-image">
                <div class="category-details">
                    <h5 class="category-title">Corporate/Return Gifts</h5>
                    <h6 class="category-desc">mpress and delight with our sophisticated corporate and return gifts.
                        Perfect for any occasion, these elegant and thoughtful presents will leave a lasting impression
                        on clients, colleagues, and guests alike.
                    </h6>
                </div>
            </div>
        </button>
            <div class="category-card">
                <img src="assets/art_and_decor.jpg" alt="" class="category-image">
                <div class="category-details">
                    <h5 class="category-title">Art and Decor</h5>
                    <h6 class="category-desc">Transform your space with our stunning art and decor pieces! From
                        personalized nameplates to breathtaking paintings, candle stands, lamps, and wall clocks, our
                        collection will add a unique touch to your home or office.
                    </h6>
                </div>
            </div>
            <div class="category-card">
                <img src="assets/functional_gifts.jpg" alt="" class="category-image">
                <div class="category-details">
                    <h5 class="category-title">Functional Gifts</h5>
                    <h6 class="category-desc">Combine style and functionality with our amazing functional gifts! Explore
                        our range of bookmarks, coasters, trays, and traditional gifts that are not only practical but
                        also beautifully crafted to enhance your daily life.
                    </h6>
                </div>
            </div>
        </div>

    </div>-->


    <div class="products">
        <div class="product-titlebar">
            <h2 class="product-titlebar-content lato-regular">Best Selling Products</h2>
        </div>
        <div class="product-row">
            <div class="product-card">
                <div class="product-images">
                    <img src="assets/product.jpg">
                    <div class="fav-icon-div">
                        <img src="assets/favourite.png" alt="">
                    </div>
                </div>
                <div class="product-info lato-regular">
                    <div class="product-name-div">
                        <p class="product-name">Photo Frame</p>
                    </div>
                    <div class="product-desc">
                        <div class="product-desc-row">
                            <p class="product-price">₹ 0000.00</p>
                            <p class="product-rating">Rating Stars</p>
                        </div>
                        <div class="product-customization-row">
                            <span class="custom-icon-box">
                                <img src="assets/customize-icon.png" alt="">
                            </span>
                            <span class="customize-info">Customizable</span>
                        </div>
                    </div>
                    <button class="product-cart-btn">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="product-images">
                    <img src="assets/product.jpg">
                    <div class="fav-icon-div">
                        <img src="assets/favourite.png" alt="">
                    </div>
                </div>
                <div class="product-info lato-regular">
                    <div class="product-name-div">
                        <p class="product-name">Photo Frame</p>
                    </div>
                    <div class="product-desc">
                        <div class="product-desc-row">
                            <p class="product-price">₹ 0000.00</p>
                            <p class="product-rating">Rating Stars</p>
                        </div>
                        <div class="product-customization-row">
                            <span class="custom-icon-box">
                                <img src="assets/customize-icon.png" alt="">
                            </span>
                            <span class="customize-info">Customizable</span>
                        </div>
                    </div>
                    <button class="product-cart-btn">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="product-images">
                    <img src="assets/product.jpg">
                    <div class="fav-icon-div">
                        <img src="assets/favourite.png" alt="">
                    </div>
                </div>
                <div class="product-info lato-regular">
                    <div class="product-name-div">
                        <p class="product-name">Photo Frame</p>
                    </div>
                    <div class="product-desc">
                        <div class="product-desc-row">
                            <p class="product-price">₹ 0000.00</p>
                            <p class="product-rating">Rating Stars</p>
                        </div>
                        <div class="product-customization-row">
                            <span class="custom-icon-box">
                                <img src="assets/customize-icon.png" alt="">
                            </span>
                            <span class="customize-info">Customizable</span>
                        </div>
                    </div>
                    <button class="product-cart-btn">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="product-images">
                    <img src="assets/product.jpg">
                    <div class="fav-icon-div">
                        <img src="assets/favourite.png" alt="">
                    </div>
                </div>
                <div class="product-info lato-regular">
                    <div class="product-name-div">
                        <p class="product-name">Photo Frame</p>
                    </div>
                    <div class="product-desc">
                        <div class="product-desc-row">
                            <p class="product-price">₹ 0000.00</p>
                            <p class="product-rating">Rating Stars</p>
                        </div>
                        <div class="product-customization-row">
                            <span class="custom-icon-box">
                                <img src="assets/customize-icon.png" alt="">
                            </span>
                            <span class="customize-info">Customizable</span>
                        </div>
                    </div>
                    <button class="product-cart-btn">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="product-images">
                    <img src="assets/product.jpg">
                    <div class="fav-icon-div">
                        <img src="assets/favourite.png" alt="">
                    </div>
                </div>
                <div class="product-info lato-regular">
                    <div class="product-name-div">
                        <p class="product-name">Photo Frame</p>
                    </div>
                    <div class="product-desc">
                        <div class="product-desc-row">
                            <p class="product-price">₹ 0000.00</p>
                            <p class="product-rating">Rating Stars</p>
                        </div>
                        <div class="product-customization-row">
                            <span class="custom-icon-box">
                                <img src="assets/customize-icon.png" alt="">
                            </span>
                            <span class="customize-info">Customizable</span>
                        </div>
                    </div>
                    <button class="product-cart-btn">Add to Cart</button>
                </div>
            </div>

            <div class="product-card large-screen-hide">
                <div class="product-images">
                    <img src="assets/product.jpg">
                    <div class="fav-icon-div">
                        <img src="assets/favourite.png" alt="">
                    </div>
                </div>
                <div class="product-info lato-regular">
                    <div class="product-name-div">
                        <p class="product-name">Photo Frame</p>
                    </div>
                    <div class="product-desc">
                        <div class="product-desc-row">
                            <p class="product-price">₹ 0000.00</p>
                            <p class="product-rating">Rating Stars</p>
                        </div>
                        <div class="product-customization-row">
                            <span class="custom-icon-box">
                                <img src="assets/customize-icon.png" alt="">
                            </span>
                            <span class="customize-info">Customizable</span>
                        </div>
                    </div>
                    <button class="product-cart-btn">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>


    <div class="extra-det-box">
        <div class="extra-det-row" id="customization-det-box">
            <div class="extra-det-image">
                <img src="assets/customize.jpg" alt="">
            </div>
            <div class="extra-det-text lato-regular">
                <div class="extra-det-title">
                    <h2>Customize your Products</h2>
                </div>
                <div class="extra-det-des">
                    <p class="customization-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
                        quis, nesciunt fugit debitis laboriosam corporis iusto nulla, numquam, porro vitae amet qui?
                        Reiciendis asperiores impedit alias, quas incidunt maxime unde qui distinctio delectus optio
                        velit id? Esse mollitia ipsum suscipit laborum earum repellendus ad quod.</p>
                </div>
            </div>
        </div>

        <div class="extra-det-row" id="workshop-det-box">
            <div class="extra-det-text lato-regular">
                <div class="extra-det-title">
                    <h2>Explore our Workshops</h2>
                </div>
                <div class="extra-det-des">
                    <p class="workshop-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
                        quis, nesciunt fugit debitis laboriosam corporis iusto nulla, numquam, porro vitae amet qui?
                        Reiciendis asperiores impedit alias, quas incidunt maxime unde qui distinctio delectus optio
                        velit id? Esse mollitia ipsum suscipit laborum earum repellendus ad quod.</p>
                </div>
            </div>
            <div class="extra-det-image">
                <img src="assets/customize.jpg" alt="">
            </div>
        </div>
    </div>


    <div class="testimonial-box lato-regular">
        <div class="testimonial-title">
            <h2>Our Testimonials</h2>
        </div>
        <div class="testimonial-row">

            <div class="testimonial-card">
                <div class="testimonial-user-details">
                    <div class="testimonial-icon">
                        <img src="assets/account.png" alt="">
                    </div>
                    <div class="testimonial-user">
                        <div class="testimonial-user-name">User-1</div>
                        <div class="testimonial-user-role">Role 1</div>
                    </div>
                </div>
                <span class="quote-open">&ldquo;</span>
                <blockquote class="testimonial-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Doloremque error
                    quibusdam libero pariatur exercitationem assumenda. Dolores numquam, corrupti adipisci illum ab
                    voluptatibus commodi veniam! Dolorum, soluta? Dolorum doloremque sit eius suscipit animi hic eos
                    magni
                    adipisci ullam delectus. Doloribus, quo!!!
                </blockquote>
                <span class="quote-close">&rdquo;</span>
            </div>
            <div class="testimonial-card">
                <div class="testimonial-user-details">
                    <div class="testimonial-icon">
                        <img src="assets/account.png" alt="">
                    </div>
                    <div class="testimonial-user">
                        <div class="testimonial-user-name">User-1</div>
                        <div class="testimonial-user-role">Role 1</div>
                    </div>
                </div>
                <span class="quote-open">&ldquo;</span>
                <blockquote class="testimonial-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Doloremque error
                    quibusdam libero pariatur exercitationem assumenda. Dolores numquam, corrupti adipisci illum ab
                    voluptatibus commodi veniam! Dolorum, soluta? Dolorum doloremque sit eius suscipit animi hic eos
                    magni
                    adipisci ullam delectus. Doloribus, quo!!!
                </blockquote>
                <span class="quote-close">&rdquo;</span>
            </div>

            <div class="testimonial-card">
                <div class="testimonial-user-details">
                    <div class="testimonial-icon">
                        <img src="assets/account.png" alt="">
                    </div>
                    <div class="testimonial-user">
                        <div class="testimonial-user-name">User-1</div>
                        <div class="testimonial-user-role">Role 1</div>
                    </div>
                </div>
                <span class="quote-open">&ldquo;</span>
                <blockquote class="testimonial-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Doloremque error
                    quibusdam libero pariatur exercitationem assumenda. Dolores numquam, corrupti adipisci illum ab
                    voluptatibus commodi veniam! Dolorum, soluta? Dolorum doloremque sit eius suscipit animi hic eos
                    magni
                    adipisci ullam delectus. Doloribus, quo!!!
                </blockquote>
                <span class="quote-close">&rdquo;</span>
            </div>

            <div class="testimonial-card medium-screen-show">
                <div class="testimonial-user-details">
                    <div class="testimonial-icon">
                        <img src="assets/account.png" alt="">
                    </div>
                    <div class="testimonial-user">
                        <div class="testimonial-user-name">User-1</div>
                        <div class="testimonial-user-role">Role 1</div>
                    </div>
                </div>
                <span class="quote-open">&ldquo;</span>
                <blockquote class="testimonial-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Doloremque error
                    quibusdam libero pariatur exercitationem assumenda. Dolores numquam, corrupti adipisci illum ab
                    voluptatibus commodi veniam! Dolorum, soluta? Dolorum doloremque sit eius suscipit animi hic eos
                    magni
                    adipisci ullam delectus. Doloribus, quo!!!
                </blockquote>
                <span class="quote-close">&rdquo;</span>
            </div>
        </div>
    </div>

    <footer class="lato-regular">
        <div class="footer-row">
            <div class="footer-section">
                <span class="footer-title">
                    About
                </span>
                <div class="footer-list">
                    <span class="footer-link"><a href="#">About Us</a></span>
                    <span class="footer-link"><a href="#">Workshops</a></span>
                </div>
            </div>
            <div class="footer-section">
                <span class="footer-title">
                    Customer Care
                </span>
                <div class="footer-list">
                    <span class="footer-link"><a href="#">Help Center</a></span>
                    <span class="footer-link"><a href="#">FAQs</a></span>
                </div>
            </div>
            <div class="footer-section">
                <span class="footer-title">
                    Follow us on:
                </span>
                <div class="footer-list socials-box">
                    <span class="footer-link"><a href="#"><img src="assets/instagram.png" class="socials-icon" alt=""></a></span>
                    <span class="footer-link"><a href="#"><img src="assets/facebook.png" class="socials-icon"  alt=""></a></span>
                    <span class="footer-link"><a href="#"><img src="assets/youtube.png" class="socials-icon" alt=""></a></span>
                </div>
            </div>
            <div class="footer-section">
                <span class="footer-title">
                    Contacts
                </span>
                <div class="footer-list">
                    <div class="contact-item">
                        <span class="contact-text">Mobile:</span>
                        <span class="contact-link"><a href="tel:000000000">000000000</a></span>
                    </div>
                    <div class="contact-item">
                        <span class="contact-text">WhatsApp:</span>
                        <span class="contact-link"><a href="https://wa.me/000000000">000000000</a></span>
                    </div>
                    <div class="contact-item">
                        <span class="contact-text">Email:</span>
                        <span class="contact-link"></span><a href="mailto:abc.123@gmail.edu">abc.123@gmail.edu</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-bar">&#169; 2024, All Rights Reserved.</div>
    </footer>

</body>

<script>
     document.getElementById('c-login').addEventListener('click', function() {
    // Redirect to the Google OAuth route
    window.location.href = '/auth/google';
  });
    //Modal Script (Popup)
    window.onclick = function (event) {
        var cloginModal = document.getElementById('cloginform');
        var aloginModal = document.getElementById('aloginform');
        if (event.target == cloginModal) {
            cloginModal.style.display = "none";
        } else if (event.target == aloginModal) {
            aloginModal.style.display = "none";
        }
    }

    function closePopup() {
        document.getElementById("cloginform").style.display = "none";
        // Set a flag in sessionStorage to prevent the popup from showing again in this session
        sessionStorage.setItem('popupShown', 'true');
    }

         // Function to show the popup only on the first visit in the current session
    window.onload = function() {
        setTimeout(function() {
            if (!sessionStorage.getItem('popupShown')) {
                // Show the popup if it hasn't been shown in this session
                document.getElementById("cloginform").style.display = "block";
            }
        }, 2000); // Delay of 2000 milliseconds (2 seconds)
    };

// Carousel Script
// Auto Carousel Script

let slideIndex = 0;
showSlides();

//Navigation through slides need to be debugged
// function plusSlides(n) {
//   showSlides(slideIndex += n);
// }

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 3000); // Change image every 10 seconds
}

</script>

</html>
