:root {
    --header-height: 60px
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
} 

input[type="number"] {
    -moz-appearance: textfield;
}

body {
    margin: 0px 0px;
    padding: 0px 0px;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

 #filter-sidebar {
    width: 20%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: transform 0.5s;
    background-color: #fafafa;
    border: 1px solid #000000;
    /* border: 2px solid red; */
}

.hidden-sidebar { 
    transform: translateX(-100%);
    /* transform: scaleX(0); */
}

.visible-sidebar {
    transform: translateX(0);
    /* transform: scaleX(100%); */
}

#filter-sidebar form {
    /* border-top: 1px solid black; */
    margin-top: calc(var(--header-height));
}

.filter-options {
    padding: 16px 16px;
    box-sizing: border-box;
}

.sort-dropdown {
    width: 100%;
    position: relative;
    /* border: 2px solid green; */
}

#sort-button {
    width: 100%;
    text-align: left;
    padding: 8px 8px;
    border: 3px solid #6e3e70;
    border-radius: 4px;
    font-size: 0.9rem;
}

.sort-dropdown-content {
    width: 96%;
    position: absolute;
}

.hide-sort-dropdown {
    height: 0;
    overflow: hidden;
}

.show-sort-dropdown {
    height: fit-content;
}

.sort-dropdown-content button {
    width: 100%;
    text-align: left;
    padding: 8px 12px;
    font-size: 0.9rem;
}

.price-filters {
    display: flex;
    margin: 20px 0px;
}

.min-price-filters, .max-price-filters {
    width: 50%;
    text-align: center;
    font-size: 0.8rem;
}

#min-price-field, #max-price-field {
    width: 75%;
    min-width: 40px;
    margin: 4px 0;
    padding: 4px 8px;
    font-size: 0.9rem;
    text-align: center;
    border: 3px solid #6e3e70;
    border-radius: 4px;
}

.customization-filters {
    margin: 8px 0px;
}

.rating-filters {
    margin: 8px 0px;
}

.rating-options label {
    display: block;
    margin: 4px 8px;
}

.material-filters {
    margin: 8px 0px;
}

.material-options label{
    display: block;
    margin: 4px 8px;
}

.filter-manage-buttons {
    width: 100%;
    position: absolute;
    bottom: 4px;
    display: flex;
}

.filter-manage-buttons button {
    padding: 12px 0px;
    width: 48.5%;
    margin: 0px auto;
    background-color: #bc83a4;
    outline: 2px solid #6e3e70;
    border-radius: 4px;
    font-size: 0.8rem;
    color: #fff;
    font-weight: 700;
    border: 2px solid transparent;
}

.filter-manage-buttons button:active {
    border: 2px solid #6e3e70;
} 

input[type="checkbox"] {
    accent-color: #6e3e70;
    border: 40px solid #bc83a4;
    outline: none;
}


.container {
    /* height: calc(100vh - var(--header-height)); */
    height: auto;
    /* border: 2px solid purple; */
    margin-left: 0;
    box-sizing: border-box;
    /* background-color: red; */
    width: 100%;
}

.product-box {
    width: 96vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    row-gap: 24px;
    border: 1px solid green;
    justify-items: center;
    justify-content: space-between;
}

/* Product Card Styles Start */

.product-card {
    width: 100%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    /* border: 2px solid purple; */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75), -1px -1px 2px rgba(0, 0, 0, 0.75);
}

.product-images {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    overflow: hidden;
    /* border: 3px solid yellowgreen; */
}

.product-images img {
    width: 100%;
    aspect-ratio: 1/1;
}

.fav-icon-div {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(100%, -100%);
    transition: 0.7s;
}

.fav-icon-div button img {
    width: 36px;
    height: auto;
}

.fav-icon-div button {
    display: flex;
    outline: none;
    padding: 4px 12px;
    border-radius: 0px 0px 0px 20px;
}

.product-card:hover .fav-icon-div {
    transform: translate(2px, -2px);
}

.product-info {
    padding: 8px 16px;
}

.product-name, .product-price, .product-rating {
    margin: 0;
    margin-top: 8px;
}

.product-name {
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0px;
}

.product-price {
    font-size: 1rem;
    font-weight: 600;
}

.product-customization-row {
    margin-top: 8px;
}

.product-customization-row {
    display: flex;
    align-items: center;
}

.custom-icon-box img {
    width: 16px;
    height: auto;
    display: flex;
}

.product-rating {
    font-size: 0.8rem;
}

.customize-info {
    font-size: 0.8rem;
}

/* Product Card Styles End */